@media only screen and (width <= 1400px){
    .listdal{
        display: none;
    }
    .promo{
        height: 100%;
        padding: 30px;
    }
}
@media only screen and (500px <= width <= 1000px){
    .promo{
        display: none;
    }
}

@media (max-width: 768px) {
    .footer-block {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .footer-text-right {
        order: -1; /* перемещаем в начало */
        text-align: left;
        width: 100%;
    }
}
