body{
    margin: 0;
    padding: 0;
}
.progressBar{
    width: 100vh;
    position: fixed;
    background-color: yellowgreen;
    height: 50px;
}
h1{
    background-color: tomato;
    transition: 0,5s all cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(100vw);
}
.visible{
    transform: translateX(0);
    transition: 0,5s all cubic-bezier(0.165, 0.84, 0.44, 1) ;
}